<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div ui-sref="washer-home"><i class="icon ion-arrow-left-c" style="color: #fff;font-size: 30px;"></i></div>
            <h1 class="title">Contact Us</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">

            <div style="padding:2%;">
                <h5 style="color:#607D8B">ICarWashMi inc. 3400 woodchase dr. Apt 2427 Houston Texas 77042<br>
                    Phone : 832-701-3655. <br> Website : www.carwashmi.com</h5></div>

        </ion-content>
    </ion-pane>
</ion-view>