<ion-view class="splash-screen">
    <ion-pane>
        <div class="splash-body"></div>
        <ion-content overflow-scroll="false" has-bouncing="true">
            <div class="login-ui">
                <div class="login-logo">
                    <img src="images/password-icon.png" alt="logo"/>
                    <p>Forgot Password</p>
                </div>
                <div class="login-form">
                    <form novalidate name="forgotPwdForm" ng-submit="validateForgotPwdInput(forgotPwdForm)">
                        <div class="form-row">
                            <i class="ion ion-ios-email-outline"></i>
                            <input type="email" name="email" placeholder="Enter email" ng-model="forgotPwdInput.email"
                                   ng-required="true" autocomplete="false">
                            <p class="error" style="color:red;"
                               ng-show="forgotPwdForm.email.$error.required && forgotPwdForm.$submitted">Email is
                                required</p>
                            <p class="error" style="color:red;"
                               ng-show="forgotPwdForm.email.$error.email && forgotPwdForm.$submitted">Not a valid
                                email</p>
                        </div>
                        <div class="form-row">
                            <button class="button" type="submit" style="    background: #E1EBEE;
    color: #111;">Submit
                            </button>
                        </div>
                    </form>
                    <div class="forgot_password">
                        <a ui-sref="login"><label>Login</label></a>
                    </div>
                </div>
                <div class="login-signup">
                    <a ui-sref="choose-user">
                        <button>Don't have account? Sign Up</button>
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>