<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div><i ui-sref="legal" class="icon ion-arrow-left-c" style="color: #fff;font-size: 30px;"></i></div>
            <h1 class="title">Refund Policy</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">

            <div style="font-size:15px;color:#607D8B">
                <div style="padding:2%;">
                    CarWashMi only charges the customer upon completion of services by Car Care Professional ( CCP). In
                    case of any complaints contact customer service to file a complaint.
                </div>
                <div style="padding:2%;">Cancellation fees are charged to compensate CCP for time invested in traveling
                    to a user's location.
                </div>
                <div style="padding:2%;">
                    When a CCP is en route to your location, you can use your app to cancel your ride request. Your
                    account may be charged a cancellation fee. This depends on how much time has passed between when the
                    driver accepted your request and when you cancel.
                </div>
                <div style="padding:2%;">
                    CCPs are also able to cancel a request. In this case, you may be charged a cancellation fee if the
                    driver has already waited for several minutes at your given location.
                </div>
                <div style="padding:2%;">
                    Cancellation fees may differ depending on your city. Many cities have a 5 minute charge-free
                    cancellation window. In other cities, you may be charged a fee for cancelling more than 2 minutes
                    after a CCP is en route to your location.
                </div>

            </div>
        </ion-content>
    </ion-pane>
</ion-view>