<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div ui-sref="add_points"><i class="icon ion-arrow-left-c" style="color: #fff;font-size: 30px;"></i></div>
            <h1 class="title">Enter Card Information</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Choose Card
                    </div>
                    <select ng-model="card.cardClass">
                        <option value="1">Debit Card</option>
                        <option value="0">Credit Card</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Choose Card Type
                    </div>
                    <select ng-model="card.card_type">
                        <option value="visa">Visa</option>
                        <option value="mastercard">Master Card</option>
                        <option value="amex">Amex</option>
                        <option value="discover">Discover</option>
                        <option value="unknown">Unknown</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Choose Month
                    </div>
                    <select ng-model="card.xpirymonth">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Choose Expiry Year
                    </div>
                    <select ng-model="card.year">
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                    </select>
                </label>


                <label class="item item-input item-floating-label">
                    <span class="input-label">Enter Name on Credit Card</span>
                    <input type="text" placeholder="Enter Name on Credit Card" ng-required="true"
                           ng-model="card.card_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Enter Credit Card Number</span>
                    <input type="text" placeholder="Enter Credit Card Number" ng-required="true"
                           ng-model="card.cardnumber">
                </label>


                <label class="item item-input item-floating-label">
                    <span class="input-label">CVV</span>
                    <input type="text" placeholder="CVV" ng-required="true" ng-model="card.cvv">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Country</span>
                    <input type="text" placeholder="Country" ng-required="true" ng-model="card.country">
                </label>
            </div>

            <div class="profile-form-row">
                <button class="button" type="submit" ng-click="saveCreditCard()">Save Credit Card Details</button>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>