<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div ui-sref="washer-home"><i class="icon ion-arrow-left-c" style="color: #fff;font-size: 30px;"></i></div>
            <h1 class="title">On Going Job</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true" style="margin-top:-44px;">
            <div class="content has-header washer_detail"><!--has-header-expand"-->
                <div class="wash_counter">
                    <img src="images/car_wash.png" alt="image"/>
                    <ul>
                        <li><span><p>Car</p>Vehicle type</span></li>
                    </ul>
                </div>
                <h3>Customer Detail</h3>
                <div class="washer_detail_row">
                    <h4>Name</h4>
                    <p>{{clientRequest.first_name+" "+clientRequest.last_name}}</p>
                </div>
                <div class="washer_detail_row">
                    <h4>Customer Location</h4>
                    <p>{{clientRequest.location}}</p>
                </div>
                <div class="washer_detail_row">
                    <h4>Distance</h4>
                    <p>{{clientRequest.distance}}miles</p>
                </div>
                <div class="washer_detail_row">
                    <h4>Service Type</h4>
                    <p ng-if="clientRequest.service_type==2">Standard Service</p>
                    <p ng-if="clientRequest.service_type==0">Elite Service</p>
                    <p ng-if="clientRequest.service_type==1">Premium Service</p>
                </div>
            </div>
        </ion-content>
        <div class="action_footer">
            <ul>
                <li>
                    <button class="accept_button" ng-click="setJobDone()">Set Job as Completed</button>
                </li>

            </ul>

        </div>
    </ion-pane>
</ion-view>