<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div ui-sref="home"><i class="icon ion-arrow-left-c" style="color: #fff;font-size: 30px;"></i></div>
            <h1 class="title">Payment Method</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true">
            <div class="content profile_edit">
                <div class="list">

                    <h2>My Payment Method</h2>

                    <div class="item item-button-right" ng-if="point!='NULL'" style="display:{{displayPoint}}">
                        {{point}}
                        <a class="button-assertive" style="
    color: #e42112;
" ng-click="deleteCard('card')">
                            <i class="icon ion-close"></i>
                        </a>
                    </div>
                    <div class="item item-button-right" ng-if="paypal!='NULL'">
                        {{paypal}}

                        <a class="button-assertive" style="
    color: #e42112;
" ng-click="deleteCard('paypal')">
                            <i class="icon ion-close"></i>
                        </a>


                    </div>
                    <div class="profile-form-row">
                        <button class="button" type="submit" ng-click="defaultCard(default1)" ng-if="flag=='0'">
                            {{button}}
                        </button>
                    </div>

                    <form novalidate name="pointsForm">
                        <h2>Add Payment Method</h2>

                        <div class="button-bar" style="padding: 10px 10px 10px 10px;">
                            <button class="button button-outline" style="border-color: #2D5A89;color:#2D5A89;"
                                    type="submit" ng-click="getPaypalAuthentication()">Add Paypal
                            </button>
                        </div>
                        <div class="button-bar" style="padding: 10px 10px 10px 10px;">
                            <button class="button button-outline icon ion-card"
                                    style=" border-color: #2D5A89;color:#2D5A89;" type="submit"
                                    ng-click="getCreditCard()"> Credit & Debit Card
                            </button>
                        </div>
                    </form>
                </div>
        </ion-content>
    </ion-pane>
</ion-view>