<ion-view class="splash-screen">
    <ion-pane>
        <div class="splash-body"></div>
        <ion-content overflow-scroll="false" has-bouncing="true">
            <div class="set-pass-ui">
                <div class="set-pass-logo">
                    <img src="images/password-icon.png" alt="logo"/>
                </div>
                <div class="set-pass-form">
                    <label>Please set your password</label>
                    <form novalidate name="changePwdForm" ng-submit="validateChangePwdInput(changePwdForm)">
                        <div class="form-row">
                            <i class="ion ion-ios-locked-outline"></i>
                            <input type="password" name="password" placeholder="Enter Password" ng-required="true"
                                   ng-model="changePwdInput.password"/>
                            <p class="error" style="color:red;"
                               ng-show="changePwdForm.password.$error.required && changePwdForm.$submitted">Password is
                                required</p>
                        </div>
                        <div class="form-row">
                            <i class="ion ion-ios-locked-outline"></i>
                            <input type="password" name="passwordCnf" placeholder="Confirm Password" ng-required="true"
                                   ng-model="changePwdInput.passwordCnf"/>
                            <p class="error" style="color:red;"
                               ng-show="changePwdForm.passwordCnf.$error.required && changePwdForm.$submitted">Password
                                is required</p>
                        </div>
                        <p class="error" style="color:red;" ng-show="comparePwd">Password didn't match!</p>
                        <div class="form-row">
                            <button class="button" type="submit" style="    background: #E1EBEE;
    color: #111;">Submit
                            </button>
                        </div>
                    </form>
                </div>
                <div class="login-signup">
                    <button ui-sref="washer-home">Back</button>
                </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>