<ion-view>
    <div class="splash-body"></div>
    <ion-content class="has-header" overflow-scroll="false" has-bouncing="true">
        <div class="splash-ui">
            <ul>
                <li><img src="images/logo.png" alt="logo" style="width: 75%; height: 100%; filter: brightness(35%);"/></li>
                <li><a ui-sref="login">
                    <button class="login-but">Login with Emaild</button>
                </a></li>
                <li><a ui-sref="choose-user">
                    <button class="signup-but">Signup with Email</button>
                </a></li>
            </ul>
        </div>
    </ion-content>
</ion-view>