<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div><i ui-sref="washer-home" class="icon ion-arrow-left-c" style="color: #fff;font-size: 30px;"></i></div>
            <h1 class="title">Legal</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">
            <ion-item href="#/refund-policywasher">
                <i class="icon icon ion-cash"></i>&nbsp;&nbsp;&nbsp;Refund Policy
            </ion-item>
            <ion-item href="#/pricing-of-serviceswasher">
                <i class="icon icon ion-pricetag"></i>&nbsp;&nbsp;&nbsp;Pricing Of Services
            </ion-item>
            <ion-item href="#/privacy-policywasher">
                <i class="icon icon ion-alert-circled"></i>&nbsp;&nbsp;&nbsp;Privacy
            </ion-item>
            <!--
            <ion-item ui-sref="refund-policywasher">
                                <i class="icon icon ion-cash"></i>&nbsp;&nbsp;&nbsp;Refund Policy
                         </ion-item>
                    <ion-item ui-sref="pricing-of-serviceswasher">
                                <i class="icon icon ion-pricetag"></i>&nbsp;&nbsp;&nbsp;Pricing Of Services
                         </ion-item>
                    <ion-item ui-sref="privacy-policywasher">
                                <i class="icon icon ion-alert-circled"></i>&nbsp;&nbsp;&nbsp;Privacy
                         </ion-item> -->

            <ion-item ui-sref="legalwasher2">
                <i class="icon icon ion-shuffle"></i>&nbsp;&nbsp;&nbsp;Legal
            </ion-item>

        </ion-content>
    </ion-pane>
</ion-view>