<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div><i ui-sref="legal" class="icon ion-arrow-left-c" style="color: #fff;font-size: 30px;"></i></div>
            <h1 class="title">Legal</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">
            <div style="font-size:15px;">
                <h4 style="padding:2%">U.S. Terms of Use <br>
                    <h4 style="padding-top:1%;position:relative;left:1%;">Effective: Augost 02, 2017 </h4></h4>
                <h4 style="padding:2%;color:black;">1. Contractual Relationship </h4>
                <div style="color: #607D8B;
    padding: 2%;
    padding-top: 0;">These Terms of Use ("Terms") govern your access or use, from within the United States and its
                    territories and possessions, of the applications, websites, content, products, and services made
                    available in the United States and its territories and possessions by CarWashMi inc. <br><br>PLEASE
                    READ THESE TERMS CAREFULLY, AS THEY CONSTITUTE A LEGAL AGREEMENT BETWEEN YOU AND CarWashMi INC
                    <br><br>
                    By accessing or using the Services, you confirm your agreement to be bound by these Terms. If you do
                    not agree to these Terms, you may not access or use the Services. These Terms expressly supersede
                    prior agreements or arrangements with you.<br><br> CarWashMi inc. may immediately terminate these
                    Terms or any Services with respect to you, or generally cease offering or deny access to the
                    Services or any portion thereof, at any time for any reason.
                </div>
                <h4 style="padding:2%;color:black;">2. The Services </h4>
                <div style="color: #607D8B;
    padding: 2%;
    padding-top: 0;">
                    The Services comprise mobile applications and related services (each, an "Application"), which
                    enable users to arrange and schedule car wash/car care. Unless otherwise agreed by CarWashMi in a
                    separate written agreement with you, the Services are made available solely for your personal,
                    noncommercial use. <br>
                    YOU ACKNOWLEDGE THAT YOUR ABILITY TO OBTAIN CAR WASH/CAR CARE THE USE OF THE SERVICES DOES NOT
                    ESTABLISH CarWashMi AS A PROVIDER OF CAR WASH/CAR CARE. <br>
                    <h4>License </h4>
                    Subject to your compliance with these Terms, CarWashMi inc. grants you a limited, non-exclusive,
                    non-sublicensable, revocable, non-transferable license to: (i) access and use the Applications on
                    your personal device solely in connection with your use of the Services; and (ii) access and use any
                    content, information and related materials that may be made available through the Services, in each
                    case solely for your personal, noncommercial use. Any rights not expressly granted herein are
                    reserved by CarWashMi inc. and CarWahMi inc.'s licensors.
                    <br><h4>Restrictions</h4>
                    You may not:<br> (i) remove any copyright, trademark or other proprietary notices from any portion
                    of the Services;<br>(ii) reproduce, modify, prepare derivative works based upon, distribute,
                    license, lease, sell, resell, transfer, publicly display, publicly perform, transmit, stream,
                    broadcast or otherwise exploit the Services except as expressly permitted by CarWashMi inc.;<br>(iii)
                    decompile, reverse engineer or disassemble the Services except as may be permitted by applicable
                    law; <br>(iv) link to, mirror or frame any portion of the Services;<br> (v) cause or launch any
                    programs or scripts for the purpose of scraping, indexing, surveying, or otherwise data mining any
                    portion of the Services or unduly burdening or hindering the operation and/or functionality of any
                    aspect of the Services; or <br>(vi) attempt to gain unauthorized access to or impair any aspect of
                    the Services or its related systems or networks<br>
                    <h4>Third Party Services and Content </h4>
                    The Services may be made available or accessed in connection with third party services and content
                    (including advertising) that CarWashMi inc. does not control. You acknowledge that different terms
                    of use and privacy policies may apply to your use of such third party services and content.
                    CarWashMi inc. does not endorse such third party services and content and in no event shall
                    CarWashMi inc. be responsible or liable for any products or services of such third party providers.
                    Additionally, Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited will be a
                    third-party beneficiary to this contract if you access the Services using Applications developed for
                    Apple iOS, Android, Microsoft Windows, or Blackberry-powered mobile devices, respectively. These
                    third party beneficiaries are not parties to this contract and are not responsible for the provision
                    or support of the Services in any manner. Your access to the Services using these devices is subject
                    to terms set forth in the applicable third party beneficiary's terms of service.<br>
                    <h4>Ownership. </h4>
                    The Services and all rights therein are and shall remain CarWashMi inc.'s property or the property
                    of CarWashMi inc's licensors. Neither these Terms nor your use of the Services convey or grant to
                    you any rights: (i) in or related to the Services except for the limited license granted above; or
                    (ii) to use or reference in any manner CarWashMi inc.'s company names, logos, product and service
                    names, trademarks or services marks or those of CarWashMi inc.'s licensors.
                </div>
                <h4 style="padding:2%;color:black;">3. Access and Use of the Services </h4>
                <div style="color: #607D8B;
    padding: 2%;
    padding-top: 0;">
                    <h4>User Accounts.</h4>
                    In order to use most aspects of the Services, you must register for and maintain an active personal
                    user Services account ("Account"). You must be at least 18 years of age, or the age of legal
                    majority in your jurisdiction (if different than 18), to obtain an Account, unless a specific
                    Service permits otherwise. Account registration requires you to submit to CarWashMi inc. certain
                    personal information, such as your name, address, mobile phone number and age, as well as at least
                    one valid payment method supported by CarWashMi inc. You agree to maintain accurate, complete, and
                    up-to-date information in your Account. Your failure to maintain accurate, complete, and up-to-date
                    Account information, including having an invalid or expired payment method on file, may result in
                    your inability to access or use the Services. You are responsible for all activity that occurs under
                    your Account, and you agree to maintain the security and secrecy of your Account username and
                    password at all times. Unless otherwise permitted by CarWashMi inc. in writing, you may only possess
                    one Account.<br>
                    <h4>User Requirements and Conduct</h4>
                    The Service is not available for use by persons under the age of 18. You may not authorize third
                    parties to use your Account, and you may not allow persons under the age of 18 to receive car
                    wash/car care services from Third Party Providers unless they are accompanied by you. You may not
                    assign or otherwise transfer your Account to any other person or entity. You agree to comply with
                    all applicable laws when accessing or using the Services, and you may only access or use the
                    Services for lawful purposes. You may not in your access or use of the Services cause nuisance,
                    annoyance, inconvenience, or property damage, whether to the Third Party Provider or any other
                    party. In certain instances you may be asked to provide proof of identity to access or use the
                    Services, and you agree that you may be denied access to or use of the Services if you refuse to
                    provide proof of identity.<br>
                    <h4>Text Messaging and Telephone Calls.</h4>
                    You agree that CarWashMi inc. may contact you by telephone or text messages (including by an
                    automatic telephone dialing system) at any of the phone numbers provided by you or on your behalf in
                    connection with an CarWashMi inc. account, including for marketing purposes. You understand that you
                    are not required to provide this consent as a condition of purchasing any property, goods or
                    services <br>
                    <h4>Network Access and Devices.</h4>
                    You are responsible for obtaining the data network access necessary to use the Services. Your mobile
                    network's data and messaging rates and fees may apply if you access or use the Services from your
                    device. You are responsible for acquiring and updating compatible hardware or devices necessary to
                    access and use the Services and Applications and any updates thereto. CarWashMi inc. does not
                    guarantee that the Services, or any portion thereof, will function on any particular hardware or
                    devices. In addition, the Services may be subject to malfunctions and delays inherent in the use of
                    the Internet and electronic communications
                </div>
                <h4 style="padding:2%;color:black;">5. Payment</h4>
                <div style="color: #607D8B;
    padding: 2%;
    padding-top: 0;">
                    You understand that use of the Services may result in charges to you for the services or goods you
                    receive ("Charges"). CarWashMi inc. will receive and/or enable your payment of the applicable
                    Charges for services or goods obtained through your use of the Services. Charges will be inclusive
                    of applicable taxes where required by law. Charges may include other applicable fees, and/or
                    surcharges including a booking fee or processing fees for split payments. <br>
                    All Charges and payments will be enabled by CarWashMi inc. using the preferred payment method
                    designated in your Account, after which you will receive a receipt by email. If your primary Account
                    payment method is determined to be expired, invalid or otherwise not able to be charged, you agree
                    that CarWashMi inc. may use a secondary payment method in your Account, if available. Charges paid
                    by you are final and non-refundable, unless otherwise determined by CarWashMi inc.<br>
                    As between you and CarWashMi inc., CarWashMi inc. reserves the right to establish, remove and/or
                    revise Charges for any or all services obtained through the use of the Services at any time in
                    CarWashMi inc.'s sole discretion. Further, you acknowledge and agree that Charges applicable in
                    certain geographical areas may increase substantially during times of high demand. CarWashMi inc.
                    will use reasonable efforts to inform you of Charges that may apply, provided that you will be
                    responsible for Charges incurred under your Account regardless of your awareness of such Charges or
                    the amounts thereof. CarWashMi inc.may from time to time provide certain users with promotional
                    offers and discounts that may result in different amounts charged for the same or similar services
                    obtained through the use of the Services, and you agree that such promotional offers and discounts,
                    unless also made available to you, shall have no bearing on your use of the Services or the Charges
                    applied to you. You may elect to cancel your request for Services at any time prior to the
                    commencement of such Services, in which case you may be charged a cancellation fee. After you have
                    received services obtained through the Service, you will have the opportunity to rate your
                    experience and leave additional feedback. CarWashMi inc. may use the proceeds of any Charges for any
                    purpose, subject to any payment obligations it has agreed to with any Third Party Providers or other
                    third parties<br>
                    <h4>Repair or Cleaning Fees.</h4>
                    You shall be responsible for the cost of repair for damage to, or necessary cleaning of, vehicles
                    and property resulting from use of the Services under your Account in excess of normal "wear and
                    tear" damages and necessary cleaning ("Repair or Cleaning"). In the event that a Repair or Cleaning
                    request is verified by CarWashMi inc. in CarWashMi inc.'s reasonable discretion, CarWashMi inc.
                    reserves the right to facilitate payment for the reasonable cost of such Repair or Cleaning using
                    your payment method designated in your Account. Such amounts will be transferred by CarWashMi inc.
                    to a Third Party Provider, if applicable, and are non-refundable.
                </div>
                <h4 style="padding:2%;color:black;">4. Disclaimers; Limitation of Liability; Indemnity.</h4>
                <div style="color:#607D8B;
    padding: 2%;
    padding-top: 0;">

                    <h5>DISCLAIMER. </h5>
                    THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE." CarWashMi INC. DISCLAIMS ALL REPRESENTATIONS
                    AND WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, NOT EXPRESSLY SET OUT IN THESE TERMS, INCLUDING THE
                    IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN
                    ADDITION, CarWashMi INC. MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE REGARDING THE RELIABILITY,
                    TIMELINESS, QUALITY, SUITABILITY, OR AVAILABILITY OF THE SERVICES REQUESTED THROUGH THE USE OF THE
                    SERVICES, OR THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. CarWashMi INC. DOES NOT
                    GUARANTEE THE QUALITY, SUITABILITY, SAFETY OR ABILITY OF THIRD PARTY PROVIDERS. YOU AGREE THAT THE
                    ENTIRE RISK ARISING OUT OF YOUR USE OF THE SERVICES, AND ANY SERVICE OR GOOD REQUESTED IN CONNECTION
                    THEREWITH, REMAINS SOLELY WITH YOU, TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW.
                    <br><h4>LIMITATION OF LIABILITY.</h4>
                    CarWashMi INC. SHALL NOT BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE, OR
                    CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOST DATA, PERSONAL INJURY, OR PROPERTY DAMAGE
                    RELATED TO, IN CONNECTION WITH, OR OTHERWISE RESULTING FROM ANY USE OF THE SERVICES, REGARDLESS OF
                    THE NEGLIGENCE (EITHER ACTIVE, AFFIRMATIVE, SOLE, OR CONCURRENT) OF CarWashMi INC., EVEN IF
                    CarWashMi INC. HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                    CarWashMi INC. SHALL NOT BE LIABLE FOR ANY DAMAGES, LIABILITY OR LOSSES ARISING OUT OF: (i) YOUR USE
                    OF OR RELIANCE ON THE SERVICES OR YOUR INABILITY TO ACCESS OR USE THE SERVICES; OR (ii) ANY
                    TRANSACTION OR RELATIONSHIP BETWEEN YOU AND ANY THIRD PARTY PROVIDER, EVEN IF CarWashMi INC. HAS
                    BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. CarWashMi INC. SHALL NOT BE LIABLE FOR DELAY OR
                    FAILURE IN PERFORMANCE RESULTING FROM CAUSES BEYOND CarWashMi INC'S REASONABLE CONTROL.<br>
                    THE SERVICES MAY BE USED BY YOU TO REQUEST AND CAR WASH/CAR CARE SERVICES WITH THIRD PARTY
                    PROVIDERS, BUT YOU AGREE THAT CarWashMi INC. HAS NO RESPONSIBILITY OR LIABILITY TO YOU RELATED TO
                    ANY CAR WASH/CAR CARE SERVICES PROVIDED TO YOU BY THIRD PARTY PROVIDERS OTHER THAN AS EXPRESSLY SET
                    FORTH IN THESE TERMS.
                    THE LIMITATIONS AND DISCLAIMER IN THIS SECTION DO NOT PURPORT TO LIMIT LIABILITY OR ALTER YOUR
                    RIGHTS AS A CONSUMER THAT CANNOT BE EXCLUDED UNDER APPLICABLE LAW. BECAUSE SOME STATES OR
                    JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR
                    INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, CarWashMi INC’S LIABILITY SHALL BE LIMITED TO
                    THE EXTENT PERMITTED BY LAW. THIS PROVISION SHALL HAVE NO EFFECT ON CarWashMi INC’S CHOICE OF LAW
                    PROVISION SET FORTH BELOW.<br>
                    <h4>Indemnity.</h4>
                    You agree to indemnify and hold CarWashMi inc. and its affiliates and their officers, directors,
                    employees, and agents harmless from any and all claims, demands, losses, liabilities, and expenses
                    (including attorneys' fees), arising out of or in connection with: (i) your use of the Services for
                    car wash/car care through your use the Services; (ii) your breach or violation of any of these
                    Terms; (iii) CarWashMi inc.'s use of your User Content; or (iv) your violation of the rights of any
                    third party, including Third Party Providers.
                    Claims of Copyright Infringement.<br>
                    Claims of copyright infringement should be sent to CarWashMi inc.'s designated agent. Please visit
                    Uber's web page at https://www.carwashmi.com for the designated address and additional
                    information.<br>
                    <h4>Notice.</h4>
                    CarWashMi inc. may give notice by means of a general notice on the Services, electronic mail to your
                    email address in your Account, telephone or text message to any phone number provided in connection
                    with your account, or by written communication sent by first class mail or pre-paid post to any
                    address connected with your Account. Such notice shall be deemed to have been given upon the
                    expiration of 48 hours after mailing or posting (if sent by first class mail or pre-paid post) or 12
                    hours after sending (if sent by email or telephone). You may give notice to CarWashMi inc., with
                    such notice deemed given when received by Uber, at any time by first class mail or pre-paid post to
                    our registered agent for service of process, c/o CarWashMi inc.USA. The name and current contact
                    information for the registered agent in each state are available online https://www.carwashmi.com.
                    General<br>
                    You may not assign these Terms without CarWashMi inc.'s prior written approval. CarWashMi inc. may
                    assign these Terms without your consent to: (i) a subsidiary or affiliate; (ii) an acquirer of
                    CarWashMi inc.'s equity, business or assets; or (iii) a successor by merger. Any purported
                    assignment in violation of this section shall be void. No joint venture, partnership, employment, or
                    agency relationship exists between you, CarWashMi inc. or any Third Party Provider as a result of
                    this Agreement or use of the Services. If any provision of these Terms is held to be invalid or
                    unenforceable, such provision shall be struck and the remaining provisions shall be enforced to the
                    fullest extent under law. CarWashMi inc.'s failure to enforce any right or provision in these Terms
                    shall not constitute a waiver of such right or provision unless acknowledged and agreed to by
                    CarWashMi inc. in writing.
                </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>