<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div><i ui-sref="home" class="icon ion-arrow-left-c" style="color: #fff;font-size: 30px;"></i></div>
            <h1 class="title">Legal</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">
            <ion-item ui-sref="refund-policy"><i class="icon icon ion-cash"></i>&nbsp;&nbsp;&nbsp;Refund Policy
            </ion-item>
            <ion-item ui-sref="pricing-of-services"><i class="icon icon ion-pricetag"></i>&nbsp;&nbsp;&nbsp;Pricing Of
                Services
            </ion-item>
            <ion-item ui-sref="privacy-policy"><i class="icon icon ion-alert-circled"></i>&nbsp;&nbsp;&nbsp;Privacy
            </ion-item>
            <ion-item ui-sref="legal2">
                <i class="icon icon ion-shuffle"></i>&nbsp;&nbsp;&nbsp;Legal
            </ion-item>

        </ion-content>
    </ion-pane>
</ion-view>