<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <!--<div ng-click="goBack()"><i class="ion-ios-arrow-back" style="color: #fff;font-size: 30px;"></i></div>-->
            <h1 class="title">My Profile</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true" style="margin-top:-44px;">
            <div class="content has-header profile_edit">
                <form novalidate name="washerForm" id="washerForm" ng-submit="validateWasherInput(washerForm,1)">
                    <h2>Services</h2>
                    <div class="profile-form-row" ng-click="changeServiceType(3)">
                        <span><input type="checkbox" name="serviceType" id="fast" ng-model="user.is_fast_service"
                                     ng-checked="user.is_fast_service"/>Fast</span>
                    </div>
                    <div class="profile-form-row" ng-click="changeServiceType(0)">
                        <span><input type="checkbox" name="serviceType" id="elite" ng-model="user.is_elite_service"
                                     ng-checked="user.is_elite_service"/>Elite</span>
                    </div>
                    <div class="profile-form-row" ng-click="changeServiceType(1)">
                        <span><input type="checkbox" name="serviceType" id="standard"
                                     ng-model="user.is_standard_service" ng-checked="user.is_standard_service"/>Standard</span>
                    </div>
                    <div class="profile-form-row" ng-click="changeServiceType(2)">
                        <span><input type="checkbox" name="serviceType" id="premium" ng-model="user.is_premium_service"
                                     ng-checked="user.is_premium_service"/>Premium</span>
                    </div>
                    <div class="profile-form-row">
                        <button class="button" type="submit" ng-if="firstLoginVal=='0'">Next</button>
                        <button class="button" type="button" ng-if="firstLoginVal=='1'" ng-click="enableEdit('0',3)">
                            Edit
                        </button>
                    </div>
                </form>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>